.main-container {
    width: 100%;
    height: 100dvh;
    background-color: #040411;
    color: #f7f0e3;
    text-shadow: 0 0 3px #040411;
    background-image: url("/images/background-image-1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 140% 110%;
    z-index: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main-intro{
    max-width:95%;
    width: 100%;
  }

  

  
  .main-content {
    width: 88vw;
  }
  
  .intro-container {
    display: flex;
    justify-content: start;
    margin: 30.5vh 0 0; /* 200px */
    padding: 0;
    flex-wrap: wrap;
  } 
  
  .intro-container h1 {
    z-index: 10;
    position: relative;
    color: #f7f0e3;

  } 

  .intro-container h3 {
    margin-top: 0.625rem; 
    font-weight: 300;
    margin-bottom: 3.125rem; 
    color:#f3d4ac;
  }
  
  .text-wrapper {
    font-weight: 300;
    text-shadow: 0px 0px 40px  rgb(0, 0, 0) ;
    border-radius: 0.75rem; 
    border: 1px solid rgba(106, 250, 149, 0.062);
    padding: 1.25em;
    width: 45vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #f7f0e3;
    background: rgba(80, 54, 54, 0.267);
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(4px);
  }
  
  .intro-container button {
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    padding: 0.9375rem 1.25em; 
    border-radius: 0.625em; 
    color: #f5f5f5;
    margin-right: 1.5625em; 
    margin-top: 1.7em; 
    font-size: 1rem;
    background:rgba(68, 68, 68, 0.178);
    border: 1px solid rgba(106, 250, 149, 0.062); 
    box-shadow: 0em 0.625em 1.5em -0.625em #000000a6; /* Sombra principal suave */
    z-index: 6;
    backdrop-filter: blur(4px)
  }
  
  .intro-container button:hover {
    background: rgba(68, 68, 68, 0.178);
    box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e;
    border-color: #9aff7241;
    transition: all 0.3s ease-in-out;
  }
  
  .main-content h1 {
    margin: 0;
    font-style: italic;  
  }
  

  @media (max-width: 480px) and (max-height: 499px){
    .main-container {
      background-size: 180%;
      background-repeat: no-repeat;
      background-position: -35vw -15vh;
      overflow-y: auto;
    }

    .intro-container {
      justify-content: center;

      margin: 0;
      padding: 29vh 0 2vh 0;
      flex-grow:1;
    }

    .main-content {
      width: 90%;
    }

    .intro-container h3 {
      margin-top: 0.725rem;
      font-weight: 300;
      margin-bottom: 5vh; 
      
    }

    .text-wrapper  {
      border-width: 1px;
      border-radius: 0.45rem; /* 12px */
      padding: 0.85rem; /* 20px */
      width: 85vw;
      height: auto;
      z-index: 2;
      backdrop-filter: blur(3px);
     -webkit-backdrop-filter: blur(3px);
      box-sizing: border-box; 
      box-shadow: -0.9375em 1.375em 1.375em -1.25em #0f0f0f;

    }


    .intro-container button {
      margin-top: 1em;
      margin-right: 0.6em;
  
      box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e; /* Sombra principal suave */
      z-index: 2;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      transition: all 0.1s ease;
      padding: 0.6375rem 1.0em; 
    }

    .intro-container button:active{
      margin-top: 1em;
      background: linear-gradient( 176deg, rgba(38, 39, 39, 0.144)0.6%, /* Start color with a smaller radius */
      rgba(0, 0, 0, 0.137) 50%, /* Intermediate color stop */
      rgba(180, 85, 85, 0.308)120%);
      border: none; /* Borde m치s claro y fino */
      box-shadow: -0.02em 0.1em 1em 0em #52e28e; /* Sombra principal suave */
      z-index: 2;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      transition: all 0.1s ease;
    }


    .intro-container h3 { 
      color:#78f3af;
    }
  }

  @media (max-width: 480px) and (min-height: 500px) {

    .main-container {
      background-size: 180%;
      background-repeat: no-repeat;
      background-position: -35vw -15vh;
    }

    .intro-container {
      justify-content: center;
      margin: 0;
      padding: 24vh 0;
      flex-grow:1;
    }

    .main-content {
      width: 90%;
    }

    .intro-container h3 {
      margin-top: 0.725rem;
      font-weight: 300;
      margin-bottom: 5vh; 
      
    }

    .text-wrapper  {
      border-width: 1px;
      border-radius: 0.45rem; /* 12px */
      padding: 0.85rem; /* 20px */
      width: 85vw;
      height: auto;
      background: radial-gradient(circle at 20% -120%,rgba(240, 113, 113, 0.822)14.6%,rgba(8, 8, 8, 0.534)60.6%, /* Start color with a smaller radius */
       rgba(68, 68, 68, 0.527)100%, /* Intermediate color stop */
      rgba(68, 68, 68, 0.178)120%);
      z-index: 2;
      backdrop-filter: blur(3px);
     -webkit-backdrop-filter: blur(3px);
      box-sizing: border-box; 
      box-shadow: -0.9375em 1.375em 1.375em -1.25em #0f0f0f;

    }


    .intro-container button {
      margin-top: 1em;
      background: radial-gradient(circle at 40% -203%,rgba(255, 219, 146, 0.966)49.6%, /* Start color with a smaller radius */
      rgba(240, 113, 113, 0.288) 29%, /* Intermediate color stop */
      rgba(39, 39, 39, 0.062)70%);
      border: none; /* Borde m치s claro y fino */
      box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e; /* Sombra principal suave */
      z-index: 2;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      transition: all 0.1s ease;
    }

    .intro-container button:active{
      margin-top: 1em;
      background: linear-gradient( 176deg, rgba(38, 39, 39, 0.144)0.6%, /* Start color with a smaller radius */
      rgba(0, 0, 0, 0.137) 50%, /* Intermediate color stop */
      rgba(180, 85, 85, 0.308)120%);
      border: none; /* Borde m치s claro y fino */
      box-shadow: -0.02em 0.1em 1em 0em #52e28e; /* Sombra principal suave */
      z-index: 2;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      transition: all 0.1s ease;
    }


    .intro-container h3 { 
      color:#78f3af;
    }
}


  @media (min-width: 481px) and (max-width: 768px){

    .intro-container {
      justify-content: center;
      margin: 0;
      padding: 35vh 0;
      flex-grow:1;
    }

    .main-content {
      width: 90%;
    }

    .intro-container h3 {
      margin-top: 0.725rem;
      font-weight: 300;
      margin-bottom: 5vh; 
      
    }

    .text-wrapper {
      border-width: 1px;
      border-radius: 0.45rem; /* 12px */
      padding: 0.85rem; /* 20px */
      width: 75vw;
      height: 30dvh;
    }

    .main-intro{
      max-width:95%;
      width: 100%;
    }

    .intro-container button {
      font-weight: 300;
      padding: 0.75em 0.85em;
      border-width: 1px;
      margin-right: 0.9625em; 
      margin-top: 0.5375em;
    }


  }

  @media (min-width: 769px) and (max-width: 1024px) { 
    .intro-container {
      justify-content: center;
      margin: 0;
      padding: 35vh 0;
      flex-grow:1;
    }

    .main-content {
      width: 90%;
    }

    .intro-container h3 {
      margin-top: 0.725rem;
      font-weight: 300;
      margin-bottom: 5vh; 
      
    }

    .text-wrapper {
      border-width: 1px;
      border-radius: 0.45rem; /* 12px */
      padding: 0.85rem; /* 20px */
      width: 75vw;
      height: 30dvh;
    }

    .main-intro{
      max-width:95%;
      width: 100%;
    }

    .intro-container button {
      font-weight: 300;
      padding: 0.75em 0.85em;
      border-width: 1px;
      margin-right: 0.9625em; 
      margin-top: 0.5375em;
    }

  }

  @media (min-width: 1025px) and (max-width: 1280px){
    .main-container {
      width: 100%;
      height: 100dvh;
      background-color: #040411;
      color: #f7f0e3;
      text-shadow: 0 0 3px #040411;
      background-image: url("/images/background-image-1.png");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: 140% 110%;
      z-index: 1;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
    }
  
    .main-intro{
      max-width:95%;
      width: 100%;
    }
  
    
  
    
    .main-content {
      width: 88vw;
    }
    
    .intro-container {
      display: flex;
      justify-content: start;
      margin: 24.5vh 0 0; /* 200px */
      padding: 0;
      flex-wrap: wrap;
    } 
    
    .intro-container h1 {
      z-index: 10;
      position: relative;
      color: #f7f0e3;
  
    } 
  
    .intro-container h3 {
      margin-top: 0.625rem; 
      font-weight: 300;
      margin-bottom: 3.125rem; 
      color:#f3d4ac;
    }
    
    .text-wrapper {
      font-weight: 300;
      text-shadow: 0px 0px 40px  rgb(0, 0, 0) ;
      border-radius: 0.75rem; 
     
      padding: 1.25em;
      width: 55vw;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      color: #f7f0e3;
      
       box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
        z-index: 5;
        backdrop-filter: blur(2px);
    }
    
    .intro-container button {
      transition: all 0.3s ease-in-out;
      font-weight: 500;
      padding: 0.9375rem 1.25em; 
      border-radius: 0.625em; 
      color: #f5f5f5;
      margin-right: 1.5625em; 
      margin-top: 1em; 
      font-size: 1rem;
  
      box-shadow: 0em 0.625em 1.5em -0.625em #000000a6; /* Sombra principal suave */
      z-index: 6;
      backdrop-filter: blur(4px)
    }
    
    .intro-container button:hover {
      background: radial-gradient(circle at 100% 490%,rgba(70, 69, 69, 0.281)80%, /* Start color with a smaller radius */
      rgba(155, 51, 37, 0.103) 91%, /* Intermediate color stop */
      rgba(192, 72, 42, 0.247)110%);
      box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e;
      border-color: #9aff7241;
      transition: all 0.3s ease-in-out;
    }
    
    .main-content h1 {
      margin: 0;
      font-style: italic;  
    }

  }
 
  @media (min-width: 1281px) and (max-width: 1820px){
    .main-container {
      width: 100%;
      height: 100dvh;
      background-color: #040411;
      color: #f7f0e3;
      text-shadow: 0 0 3px #040411;
      background-image: url("/images/background-image-1.png");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: 140% 110%;
      z-index: 1;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
    }
  
    .main-intro{
      max-width:95%;
      width: 100%;
    }
  
    
  
    
    .main-content {
      width: 88vw;
    }
    
    .intro-container {
      display: flex;
      justify-content: start;
      margin: 30.5vh 0 0; /* 200px */
      padding: 0;
      flex-wrap: wrap;
    } 
    
    .intro-container h1 {
      z-index: 10;
      position: relative;
      color: #f7f0e3;
  
    } 
  
    .intro-container h3 {
      margin-top: 0.625rem; 
      font-weight: 300;
      margin-bottom: 3.125rem; 
      color:#f3d4ac;
    }
    
    .text-wrapper {
      font-weight: 300;
      text-shadow: 0px 0px 40px  rgb(0, 0, 0) ;
      border-radius: 0.75rem; 
      border: 1x solid rgba(241, 240, 240, 0.747);
      padding: 1.25em;
      width: 45vw;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      color: #f7f0e3;
       box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
        z-index: 5;
        backdrop-filter: blur(2px);
    }
    
    .intro-container button {
      transition: all 0.3s ease-in-out;
      font-weight: 500;
      padding: 0.9375rem 1.25em; 
      border-radius: 0.625em; 
      color: #f5f5f5;
      margin-right: 1.5625em; 
      margin-top: 1.7em; 
      font-size: 1rem;
      border: none; /* Borde m치s claro y fino */
      box-shadow: 0em 0.625em 1.5em -0.625em #000000a6; /* Sombra principal suave */
      z-index: 6;
      backdrop-filter: blur(4px)
    }
    
    .intro-container button:hover {
      box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e;
      border-color: #9aff7241;
      transition: all 0.3s ease-in-out;
    }
    
    .main-content h1 {
      margin: 0;
      font-style: italic;  
    }
  }
  /*the next group of queries are just to scale the background for perfect fit. */

  @media (min-width: 481px) and (max-width: 530px){

    .main-container {
      background-size: 170%;
      background-repeat: no-repeat;
      background-position: -25vw -18vh;
    }
  }

  @media (min-width: 531px) and (max-width: 600px){
    .main-container {
      background-size: 150%;
      background-position: -14vw -15vh; 
    }
  }

  @media (min-width: 601px) and (max-width: 700px){
    .main-container {
      background-size: 150%;
      background-position: -15vw -20vh; 
    }
  }

  @media (min-width: 701px) and (max-width: 768px){
    .main-container {
      background-size: 140%;
      background-position: -10vw -20vh; 
    }
  }

  @media (min-width: 770px) and (max-width: 850px){
    .main-container {
      background-size: 140%;
      background-position: -12vw -24vh; 
    }
  }

  @media (min-width: 851px) and (max-width: 930px){
    .main-container {
      background-size: 140%;
      background-position: -10vw -28vh; 
    }
  }

  @media (min-width: 931px) and (max-width: 1024px){
    .main-container {
      background-size: 120%;
      background-position: -1vw -28vh; 
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px){
    .main-container {
      background-size: 90%;
      background-position: 20vw -20vh; 
    }
  }


  @media (min-width: 1281px) and (max-width: 1480px){
    .main-container {
      background-size: 90%;
      background-position: 17vw -30vh; 
    }
  }

  @media (min-width: 1481px) and (max-width: 1780px){
    .main-container {
      background-size: 80%;
      background-position: 20vw -30vh; 
    }
  }