
       .main-container-project-details {
        width: 100%;
        height: auto;
        background-color:  #040411;   
        color: #f5f5f5 ;
        text-shadow: 0px 0px 3px #040411;
         /* Mantiene la imagen fija al hacer scroll */
        z-index: 0; /* Menor que el header */
         /* Para controlar el stacking context */
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow-y: auto
         }

       