.main-container4 {
  width: 100%;
  height: 100dvh;
  background-color: #040411;
  color: #f7f0e3;
  text-shadow: 0 0 3px #040411;
  z-index: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.contactme-container {
  background-color:#040411;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 0rem; /* 100px */
  height: 100dvh;
  width: 80%;
}

.animation-container2 {
    width: 33.25rem; /* 900px */
    justify-self: start;
    align-self: start;
    overflow: hidden;
    opacity: 0.8;
  }

  

  .title-section4 {
    align-self: center;
    margin: 0 0 3em; 
    font-style: italic;
    align-self: center;
    font-style: italic;
    color: #f7f0e3;
  }
  
  .icons-container {
    display: flex;
    justify-content: center;
    margin-top: 4.5em; 
  }
  
  #linkedin-icon {
    background-image: url('/images/icons/linkedinRed.png');
    width: 3.125rem; 
    height: 3.125rem; 
    background-size: contain;
    margin: 0 1.25rem; 
    transition: 0.4s ease;
  }
  
  #linkedin-icon:hover {
    background-image: url('/images/icons/linkedinGreen.png');
  }
  
  #github-icon {
    background-image: url("/images/icons/githubRed.png");
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    background-size: contain;
    margin: 0 1.25rem; /* 20px */
    transition: 0.4s ease;
  }
  
  #github-icon:hover {
    background-image: url("/images/icons/githubGreen.png");
  }
  
  #whatsapp-icon {
    background-image: url("/images/icons/whatsappRed.png");
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    background-size: contain;
    margin: 0 1.25rem; /* 20px */
    transition: 0.4s ease;
  }
  
  #whatsapp-icon:hover {
    background-image: url("/images/icons/whatsappGreen.png");
  }
  
  .form {
    font-weight: 450;
    border-radius: 0.75em; /* 12px */
    border: 1px solid rgba(206, 241, 165, 0.089);
    padding: 1.8em; /* 45px */
    width: 17.5rem;
    flex-grow: 1;
    margin: 0em 0em 2em;
    color: #f7f0e3;
    background: rgba(80, 54, 54, 0.267);
     /* Borde m치s claro y fino */
    box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
    z-index: 5;
    backdrop-filter: blur(2px);
  }
  
  .submit-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9375rem 1.25rem; /* 15px 20px */
    border-radius: 0.625rem; /* 10px */
    color: #f7f0e3;
    margin-right: 1.5625rem; /* 25px */
    margin-left: 0;
    margin-top: 1rem; /* 15px */
    margin-bottom: 0.25rem; /* 20px */
    transition: all 0.4s ease-in-out;
    width: 100%;
    background: rgba(70, 68, 68, 0.267);
    border: none; 
    box-shadow: 0em 0.625em 1.5em -0.625em #000000a6; /* Sombra principal suave */
    z-index: 6;
  }
  
  .submit-button:hover {
    background: rgba(39, 39, 39, 0.062);
    box-shadow: -0.02em 0.1em 0.4em -0.15em #52e28e;
    border-color: #9aff7241;
    transition: all 0.3s ease-in-out;
  }

  .submit-button:active {
    background-color:  #040411;
    box-shadow: 0 0 30px 5px #880e0e;
    border-color:#880e0e;
    transition: all 0.2s ;
  }

  .input-text{
    background-color: #eaeeea18;; 
    color: #f7f0e3;
    border: 1px solid rgba(241, 240, 240, 0);
    border-radius: 0.3125rem; /* 5px */
    border-width: 2px;
    padding: 0.625rem; /* 10px */
    width: 95%;
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 0.625rem; /* 10px */
    box-shadow: 0em 1em 1.875em -1.25em rgba(102, 29, 29, 0.753); /* Sombra principal suave */
  }
  
  .input-text:focus {
    outline: none;
    border-color: #52e28e;
    border-width: 2px;
    box-shadow: 0 0 5px #52e28e;
    background-color: #04041186;
    transition: all 0.5s ease;
  }

  
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #0d0d12 inset;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  @media (max-width: 480px){

    .contactme-container {
      align-items: center;
      padding: 2rem; /* 100px */
      height: auto;
      overflow-y: auto;
    }

    .title-section4 {
      margin: 2rem;
    }
  
    .form {
      font-weight: 350;
      border-width: 1px;
      padding: 1em;
      width: 80vw;
      flex-grow: 1;
      box-sizing: border-box;
      margin-left: 0;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
       background: radial-gradient(circle at 24% -200%,rgba(255, 219, 146, 0.966)49.6%, /* Start color with a smaller radius */
    rgba(240, 29, 29, 0.76) 49%, /* Intermediate color stop */
    rgba(126, 126, 126, 0.178)70%);
     /* Borde m치s claro y fino */
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }

    .form input {
    border-radius: 0.3125em;
    border-width: 1px;
    padding: 0.625em; 
    width: 92%;
    margin-top: 0.425em; 
    margin-bottom: 0.425em;
    }

    .form input:focus {
      border-width: 1px;
      transition: all 0.5s ease;
    }
    
    
    .form textarea {
      border-radius: 0.3125em; 
      border-width: 1px;
      padding: 0.625em; /* 10px */
      width: 92%;
      margin-top: 0.425em; /* 10px */
      margin-bottom: 0.225em; /* 10px */
    }

    .submit-button {
      font-weight: 300;
      border-radius: 0.3125em; /* 10px */
      border-width: 1px;
      width: 100%;
      margin-right: 0em; 
      margin-left: 0em;
      margin-top: 0.4375em; 
      margin-bottom: 0.4325em;
    }

    .animation-container2 {
      width: 100vw; 
      height: 30vh; 
      justify-self: start;
      align-self: start;
      overflow: auto;
    }

    .icons-container {
      margin: 1.5em 0em 1.5em; /* 200px */
    }
  }

  @media (min-width: 481px) and (max-width: 768px){
    .main-container4 {
      overflow-y: auto;
    }
    
    .contactme-container {
      align-items: center;
      padding: 2rem; /* 100px */
      height: auto;
    }

    .title-section4 {
      margin: 2rem;
    }
  
    .form {
      font-weight: 350;
      border-width: 1px;
      padding: 1em;
      width: 80vw;
      flex-grow: 1;
      box-sizing: border-box;
      margin-left: 0;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
      background: rgba(80, 54, 54, 0.267);
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }

    .form input {
    border-radius: 0.3125em;
    border-width: 1px;
    padding: 0.625em; 
    width: 92%;
    margin-top: 0.425em; 
    margin-bottom: 0.425em;
    }

    .form input:focus {
      border-width: 1px;
      transition: all 0.5s ease;
    }
    
    
    .form textarea {
      border-radius: 0.3125em; 
      border-width: 1px;
      padding: 0.625em; /* 10px */
      width: 92%;
      margin-top: 0.425em; /* 10px */
      margin-bottom: 0.225em; /* 10px */
    }

    .form .submit-button {
      font-weight: 300;
      border-radius: 0.3125em; /* 10px */
      border-width: 1px;
      width: 100%;
      margin-right: 0em; 
      margin-left: 0em;
      margin-top: 0.4375em; 
      margin-bottom: 0.4325em;
    }

    .animation-container2 {
      width: 80vw; /* 900px */
      height: 30vh; /* 400px */
      justify-self: start;
      align-self: start;
      overflow: hidden;
    }

    .icons-container {
      margin: 1.5em 0em 1.5em; /* 200px */
    }
  }

  @media (min-width: 769px) and (max-width: 1024px){
    .main-container4 {
      overflow-y: auto;
    }
    
    .contactme-container {
      align-items: center;
      padding: 2rem; /* 100px */
      height: auto;
    }

    .title-section4 {
      margin: 2rem;
    }
  
    .form {
      font-weight: 350;
      border-width: 1px;
      padding: 1em;
      width: 80vw;
      flex-grow: 1;
      box-sizing: border-box;
      margin-left: 0;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
       background: radial-gradient(circle at 24% -230%,rgba(255, 219, 146, 0.966)49.6%, /* Start color with a smaller radius */
    rgba(240, 29, 29, 0.76) 49%, /* Intermediate color stop */
    rgba(126, 126, 126, 0.178)70%);
     /* Borde m치s claro y fino */
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }

    .form input {
    border-radius: 0.3125em;
    border-width: 1px;
    padding: 0.625em; 
    width: 92%;
    margin-top: 0.425em; 
    margin-bottom: 0.425em;
    }

    .form input:focus {
      border-width: 1px;
      transition: all 0.5s ease;
    }
    
    
    .form textarea {
      border-radius: 0.3125em; 
      border-width: 1px;
      padding: 0.625em; /* 10px */
      width: 92%;
      margin-top: 0.425em; /* 10px */
      margin-bottom: 0.225em; /* 10px */
    }

    .form .submit-button {
      font-weight: 300;
      border-radius: 0.3125em; /* 10px */
      border-width: 1px;
      width: 100%;
      margin-right: 0em; 
      margin-left: 0em;
      margin-top: 0.4375em; 
      margin-bottom: 0.4325em;
    }

    .animation-container2 {
      width: 80vw; /* 900px */
      height: 30vh; /* 400px */
      justify-self: start;
      align-self: start;
      overflow: hidden;
    }

    .icons-container {
      margin: 1.5em 0em 1.5em; /* 200px */
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px){
    .main-container4 {
      overflow-y: auto;
    }

    .contactme-container {
      align-items: center;
      padding: 2rem; /* 100px */
      height: auto;
      
    }

    .title-section4 {
      align-self: center;
      margin: 0 0 2em; 
    }

    .animation-container2 {
      width: 35.25rem; /* 900px */
      justify-self: center;
      align-self: center;
      overflow: hidden;
    }

    .form {
      padding: 2em; /* 45px */
      width: 20.5rem;
      flex-grow: 1;
      margin-left: 5em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
       background: radial-gradient(circle at 24% -200%,rgba(255, 219, 146, 0.966)49.6%, /* Start color with a smaller radius */
    rgba(240, 29, 29, 0.76) 49%, /* Intermediate color stop */
    rgba(126, 126, 126, 0.178)70%);
     /* Borde m치s claro y fino */
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }

    .form input {
      width: 95%;
      margin-top: 0.625rem; 
      margin-bottom: 0.625rem; 
    }

    .form textarea {
      width: 95%;
      margin-top: 0.625rem; /* 10px */
      margin-bottom: 0.625rem; /* 10px */
    }

    .form .submit-button {
      width: 100%;
    }

  }