  

  .main-container3 {
    width: 100%;
    height: 100dvh;
    background-color: #040411;
    color: #f7f0e3;
    text-shadow: 0 0 3px #040411;
    z-index: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .proyects-container {
    background-color:  #040411;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 0rem; /* 100px */
    height: 100vh;
    width: 90%;
  }
  
  .title-section2 {
    align-self: center;
    margin: 0 0 6rem; 
    font-style: italic;
    color: #f7f0e3;
  }

  
  .cards-proyects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2%;
  }
  
  .card {
    max-width: 15em; /* 240px */
    min-height: 21em;
    padding: 1em; /* 20px */
    margin-bottom: 3.5em;
    border-radius: 0.625em; /* 10px */
    border: 1px solid rgba(106, 250, 149, 0.062);
    transition: all 0.5s ease;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #f7f0e3;
    background: rgba(80, 54, 54, 0.267);
      z-index: 5;
      backdrop-filter: blur(2px);
  }
  
  .card p {
    font-weight: 300;
  }
  
  .card h4 {
    align-self: center;
    color: #f5f5f5;
    transition: all 0.5s ease;
  }
  
  .card img {
    max-width: 12.5em;
    max-height: 10em;
    min-height: 8em;
    width: 12.5em; /* 200px */
    border-radius: 0.625rem; /* 10px */
    align-self: center;
    overflow: hidden;
  }
  
  .card:hover {
    background-color: #23232c;
    box-shadow: 0 0 1em -0.1em  #52e28e;
    border-color: #880e0e00;
  }
  
  .card:hover h4 {
    color: #52e28e;
  }

  .card:hover ~ .background2 {
    background: #ff6347; /* Modify background on hover. */
  }
  
  @media (max-width: 480px){

    .proyects-container {
      padding: 2rem;       
      height: auto;
      overflow-y: auto;
    }

    .title-section2 {
      margin: 3rem;
    }

    .cards-proyects-container {
      flex-direction: column;
      align-items: center;
    }

    .card {
      max-width: 17em;
      min-width: 17em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      border-width: 1px;
      margin-bottom: 5em;
      color: #f7f0e3;
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }

  }

  @media (min-width: 481px) and (max-width: 768px){
    .proyects-container {
      padding: 2rem;       
      height: auto;
      overflow-y: auto;
    }

    .title-section2 {
      margin: 3rem;
    }

    .cards-proyects-container {
      flex-direction: column;
      align-items: center;
    }

    .card {
      max-width: 17em;
      min-width: 17em;
      margin-bottom: 5em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
     /* Borde más claro y fino */
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }
  }

  @media (min-width: 769px) and (max-width: 1024px){
    .proyects-container {
      padding: 2rem;       
      height: auto;
      overflow-y: auto;
    }

    .title-section2 {
      margin: 3rem;
    }

    .cards-proyects-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap:6%;
    }

    .card {
      max-width: 15em;
      min-width: 15em;
      margin-bottom: 2.5em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
     /* Borde más claro y fino */
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px){
    .proyects-container {
      padding: 2rem;       
      height: auto;
      overflow-y: auto;
    }

    .title-section2 {
      margin: 3rem;
    }

    .cards-proyects-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap:6%;
    }

    .card {
      max-width: 15em;
      min-width: 15em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
    
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
      margin-bottom: 2.5em;
      
    }
  }

  @media (min-width: 1281px) and (max-width: 1820px){
    .proyects-container {
      padding: 2rem;       
      height: auto;
      overflow-y: auto;
    }

    .title-section2 {
      margin: 3rem;
    }

    .cards-proyects-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap:6%;
    }

    .card {
      max-width: 15em;
      min-width: 15em;
      border: 1px solid rgba(106, 250, 149, 0.062);
      color: #f7f0e3;
       background: rgba(80, 54, 54, 0.267);
     box-shadow: -0.9375em 1.375em 1.875em -1.25em #0f0f0f; /* Sombra principal suave */
      z-index: 5;
      backdrop-filter: blur(2px);
      margin-bottom: 2.5em;
      
    }
  }