#root {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

html{
  font-size: 20px;
}

  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .video-visible {
    opacity: 0.5; /* Video visible */
  }
  
  .video-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none; /* Evita interacciones con el video cuando está oculto */
  }

@media (max-width: 480px){
    html{
      font-size: 15px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
  html{
    font-size: 17px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  html { font-size: 19px; }
}