#root {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

html{
  font-size: 20px;
}

  body {
    margin: 0;
    width: 100%;
    height: 100%;overflow-y: auto;
    -webkit-overflow-scrolling: touch
  }

  .video-visible {
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
  }
  
  .video-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    visibility: hidden;
  }

@media (max-width: 480px){
    html{
      font-size: 15px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
  html{
    font-size: 17px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  html { font-size: 19px; }
}